*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-1{
    background-image: url(icon.webp);
}

.form-group{
    padding: 10px;

}

.form-items{
    padding: 10px;
}

.input-1{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

 .text-area{
    width: 100%;
    height: 150px;
}